<p>Please enter your name, email, and teaching assistant's email to get your practice teach and get approved to take the final</p>
<br />
<br/>
<form [formGroup]="testForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td><label for="name">Student Name:</label></td>
      <td><input id="name" type="text" formControlName="name"></td>
    </tr>
  <br>
    <tr>
      <td><label for="studentEmail">Student Email:   </label></td>
      <td><input id="studentEmail" type="text" formControlName="studentEmail"></td>
    </tr>
  <br>
    <tr>
      <td><label for="teacherEmail">Teacher Email:&nbsp;</label></td>
      <td><input id="teacherEmail" type="text" formControlName="teacherEmail"></td>
    </tr>
    <br>
    <tr><td></td><td><button type="submit" [disabled]="!testForm.valid">Generate Test</button></td></tr>
  </table>

</form>



