/* You can add global styles to this file, and also import other style files */

#header {
    background: #fcfefe url(assets/hdr.gif) repeat-x top right;
    color: #666;
    height: auto;
    min-height: 77px;
    padding: 30px 30px 10px;
    margin: 0px;
    position: relative;
}
